# Ignore Word and PDF documents
*.docx
*.doc
*.pdf
*.tmp
*.pptx

# Ignore Mac system files if you are on a Mac
.DS_Store

# Ignore VS Code local workspace settings
.vscode/

# Ignore backup directory
backup/